/tests export-ignore
/phpcs.xml.dist export-ignore
/phpstan.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpstan export-ignore
