parameters:
    level: 1

    ignoreErrors:
        - '~Class Doctrine\\Common\\Persistence\\Proxy not found~'
        - '~Class Doctrine\\ODM\\MongoDB\\PersistentCollection not found~'
        - '~Class Symfony\\(Contracts|Component)\\Translation\\TranslatorInterface not found~'
        - '#Constructor of class JMS\\Serializer\\Annotation\\.*? has an unused parameter#'

    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    excludePaths:
        - %currentWorkingDirectory%/src/Annotation/ReadOnly.php
     
