parameters:
  ignoreErrors:
    - '#^Attribute class JMS\\Serializer\\Tests\\Fixtures\\MissingAttribute does not exist\.$#'
    - '#Twig#'
  excludePaths:
    - %currentWorkingDirectory%/src/Twig/SerializerBaseExtension.php
