name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  phpunit:
    name: "PHPUnit"
    runs-on: "ubuntu-20.04"

    strategy:
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
        dependencies:
          - "lowest"
          - "highest"
        include:
          - { php-version: '8.1', dependencies: 'highest', composer-options: '--ignore-platform-req=php' }

    env:
      JMS_TESTS_SHOW_DEPRECATIONS: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v1"
        with:
          dependency-versions: "${{ matrix.dependencies }}"
          composer-options: "${{ matrix.composer-options }}"

      - name: Run tests
        run: |
          export $ENV
          echo $ENV
          vendor/bin/phpunit
